body {
    font-size: 1.2rem;
  }

#llamado-accion-1 {
    background: #214189;
    
}

#inicio {
  background: url("../img/Jovenes.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.jumbotron {
  width: 100%;
  height: 500px;
  background: rgba(0, 0, 0, 0);
  padding-top: 60px;
}

#action1-color{
    color: #ff7f00;
}

#about {
    background-image: url(../img/grado2.jpg);
    text-align: justify;
   }

#btn-about {
    color: white;
    font-weight: bold;
    background-color: #ccdb18;
  }

#footer {
    background: #1e88eb;
  }